---
---

@import "{{ site.theme }}";

.page-header {
  .project-name {
    text-transform: uppercase;
  }
}

.main-content {
  h3 {
   color: inherit;
   font-weight: bold;
  }
  h2 {
   margin-top: 0; 
  }
}
